h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  
}

body {
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
  background-color: #f8f5f2
}

h4 {
  line-height: 2em;
}

a:link {
  text-decoration: underline;
}

a:hover {
  background-color: yellow;
  display: inline-block;
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  
}
.grid-item {
  width: 750px; 
  height: 750px;
  margin-right: 10px;
}

.tableauPlaceholder {
  
  border-radius: 25px;
  border: 2px solid #483434;
  
}
.w3-container {
  height: 550px;
  display: flex;

}
.map {
  height: 900px;
  width: 750px;
  justify-content: center;

}


.img-div {
  display: flex;
  justify-content: center;
}

.datavis {
  width: 550px;
  height: 400px;
    flex-direction: row;
  margin: 15px;
  font-size: 15px;
  line-height: 1.4;
  display: inline-block;
  position: relative;
  border-radius: 25px;
  border: 2px solid #483434;
}

.text {
  font-size: 20px;
  line-height: 200%
}

.question {
  text-orientation: upright;
}